<h1>Edit or delete article</h1>
{{#article}}
<form method="post" action="/article/edit/{{id}}">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{name}}">

    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" value="{{slug}}">

    <label for="image">Image</label>
    <input type="text" name="image" id="image" value="{{image}}">

    <label for="body">Body</label>
    <textarea name="body" id="body">{{{body}}}</textarea>

    <label for="author">Author</label>
    <input type="number" name="author" value={{author_id}} id="author">


    <button>Edit</button>
</form>
<br>
<form method="post">
    <input type="hidden" name="action" value="delete">
    <button class="danger">Delete</button>
</form>
{{/article}}